{{ define "layout" }}
<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{{ .Title }}</title>
        <link rel="stylesheet" href="{{ .StylePath }}" />
    </head>
    <body class="bg-main text-white bg-square">
        {{ template "content" . }}
        <script>
            const toggle = (id) => {
                const el = document.getElementById(id);
                el.classList.toggle("hidden");
            };
        </script>
    </body>
</html>
{{ end }}
